@use "./variables" as *;
@use "./mixins" as *;

.header-nav ul a {
    transition: border-bottom 0.1s;

    &:hover,
    &:focus {
        border-bottom: 4px solid $primary-font-color;
    }
}

.shopping-bag {
    transition: background-color 0.25s;

    &:hover,
    &:focus {
        background-color: lightgrey;
    }
}

.filters button:hover,
.filters button:focus {
    color: $tertiary-font-color;
    border: 2px dashed $tertiary-font-color;
}

.discover-now,
.product-image a,
.shop-now,
.blog-posts .child,
form button,
.media-icons li {
    transition: box-shadow 0.25s;

    &:hover,
    &:focus {
        box-shadow: 0 0 15px $primary-font-color;
    }
}

.product-image button {
    transition: max-width 0.25s;

    &:hover,
    &:focus {
        max-width: 45px;
    }
}

.settings a,
.product-text a,
footer a,
footer address {
    position: relative;
    display: inline;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background: $tertiary-font-color;
        transform: scaleX(0);
        transition: transform 0.25s;
    }

    &:hover::after,
    &:focus::after {
        transform: scaleX(1);
        width: 100%;
    }
}

.product-text a::after {
    background: $primary-font-color;
}

footer a::after,
footer address::after {
    background: $secondary-font-color;
}
