@use "./variables" as *;
@use "./mixins" as *;

*:focus {
    outline: none;
}

.header-nav ul a {
    transition: border-bottom 0.1s;

    &:hover,
    &:focus {
        border-bottom: 4px solid $primary-font-color;
        animation: bounce 0.4s ease 0.1s infinite alternate;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-9px);
    }
}

.settings button,
.logo,
.bag-icon,
.discover-now,
.product-image a,
.shop-now,
.blog-posts .child,
form button {
    transition: box-shadow 0.25s;

    &:hover,
    &:focus,
    &:focus-within {
        box-shadow: 0 0 9px $primary-font-color;
    }
}

.filters {

    button:hover,
    button:focus {
        color: $tertiary-font-color;
        border: 2px dotted $tertiary-font-color;
    }

    .mobile:hover,
    .mobile:focus {
        border: none;
        background-color: $button-border;
    }
}

.media-icons li {
    transition: transform 0.25s;

    &:hover,
    &:focus,
    &:focus-within {
        transform: scale(1.5);
    }
}

.product-text a,
.contact-info a,
footer a:not(.social-media a) {
    position: relative;
    display: inline;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        background: $tertiary-font-color;
        transform: scaleX(0);
        transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover::after,
    &:focus::after {
        transform: scaleX(1);
        width: 100%;
    }
}

.product-text a::after {
    background: $primary-font-color;
}

footer a::after {
    background: $secondary-font-color;
}

input,
textarea {
    transition: background-color 0.25s;

    &:hover,
    &:focus {
        background-color: $input-hover;
    }
}
