@use "./variables" as *;
@use "./mixins" as *;

footer {
    @include font(0.8rem, 1.25rem, $secondary-font-color);
    background: #d8e9d6 url(../assets/footer.jpg) center / cover no-repeat;

    .wrapper {
        @include flexbox();
        padding: 84px 0 96px 0;
        position: relative;
    }

    .child {
        @include flexbox(column, space-between, flex-start);
    }

    a {
        color: $secondary-font-color;
    }
}

.social-media {
    flex-basis: 20%;

    p {
        margin: 24px 0;
    }
}

.media-icons {
    @include flexbox(row, flex-start);

    li {
        border: 2px solid black;
        margin-right: 12px;
    }

    img {
        width: 30px;
        height: 30px;
        padding: 3px;
    }
}

h6 {
    @include font(1rem, 1rem, $secondary-font-color);
    margin-bottom: 18px;
}

.questions p {
    margin-bottom: 0;
}

.copyright {
    @include font(0.8rem, 0.8rem, $tertiary-font-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid $tertiary-font-color;
    text-align: center;
    padding: 12px 0;
}

@media (max-width: 1200px) {
    
    footer {
        background-image: url(../assets/footer-smallscreen.png);

        .wrapper {
            @include flexbox(column);
            padding: 48px 0 72px 0;
        }

        .child {
            align-items: center;
            text-align: center;
            cursor: pointer;

            ul {
                display: none;
            }
        }

        .social-media {

            p {
                cursor: auto;
            }

            ul {
                display: flex;
                margin-bottom: 24px;
            }
        }

        .media-icons li {
            margin: 0 6px;
        }

        .questions p {
            display: none;
        }
    }
}