@use "./variables" as *;
@use "./mixins" as *;

html {
    font-size: 20px;
}

body {
    @include font();
    font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6, p, ul, fieldset, input {
    margin: 0;
    padding: 0;
}

fieldset, input, textarea, button {
    border: 0;
}

span, img, a {
    display: block;
}

.wrapper {
    width: 55%;
    max-width: 1056px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primary-font-color;
}

address {
    font-style: normal;
}

@media (max-width: 1680px) {

    .wrapper {
        width: 75%;
    }
}

@media (max-width: 840px) {

    .wrapper {
        width: 90%;
    }
}