@use "./variables" as *;
@use "./mixins" as *;

.settings {
    @include font(0.8rem, 0.8rem, $tertiary-font-color, uppercase);
    background: $accent-color;

    .wrapper {
        @include flexbox();
        padding: 15px 0;
    }

    p {
        flex-grow: 1;
    }

    a {
        color: $tertiary-font-color;
        margin-left: 24px;
    }
}

.header-nav {
    @include flexbox();
    padding: 24px 0;

    ul {
        @include flexbox();
    }

    li {
        padding: 0 18px;
        text-transform: uppercase;
    }
}

.shopping-bag {
    width: 48px;
    padding: 9px;
    border-radius: 24px;
}

.heading {
    background: $home-header-background;

    .wrapper {
        background: url(../assets/header.png) right / auto 75% no-repeat;
        padding: 144px 0;
    }

    p {
        @include font(1.2rem, 1.5rem, $secondary-font-color);
    }

    .discover-now {
        width: 192px;
        background: $accent-color;
        text-align: center;
        border-radius: 30px;
        margin-top: 36px;
    }

    a {
        @include font(0.9rem, 0.9rem, $tertiary-font-color, uppercase);
        padding: 21px 0;
    }
}

h1 {
    @include font(4rem, 4rem, $secondary-font-color, uppercase);
    margin: 24px 0;

    &.contact {
        @include font(1.5rem, 1.5rem, $primary-font-color, uppercase, 600);
        background: $contact-header-background url(../assets/contact-header.jpg) center / cover no-repeat;
        text-align: center;
        padding: 144px 0;
        margin: 0;
    }
}

h2 {
    @include font(2rem, 2rem, $secondary-font-color, uppercase, 300);
}

@media (max-width: 1200px) {

    .heading {

        h1 {
            font-size: max(3.2rem, 6vw);
            line-height: 3.2rem;
        }
        
        p {
            width: 50%;
        }

        .discover-now {
            margin-top: 24px;
        }
    }

    h1.contact {
        background-image: url(../assets/contact-header-smallscreen.png);
    }
}

@media (max-width: 960px) {

    .heading .wrapper {
        @include flexbox(column, flex-end, center);
        background: url(../assets/header.png) center 20px / 50% auto no-repeat;
        padding: 72px 0;
        height: 744px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    
    .settings .wrapper a,
    .header-nav > ul,
    .shopping-bag {
        display: none;
    }

    .header-nav .mobile {
        display: block;
        cursor: pointer;
    }

    .logo {
        width: 96px;
    }

    .heading .wrapper {
        background-size: 65%;

        h1 {
            width: 85%;
        }

        p {
            width: 75%;
        }
    }

    h1.contact {
        background-image: url(../assets/contact-header-mobile.png);
    }
}