@use "./variables" as *;
@use "./mixins" as *;

.settings {
    @include font(0.8rem, 0.8rem, $tertiary-font-color, uppercase);
    background: $accent-color;

    .wrapper {
        @include flexbox();
        height: 42px;
    }

    p {
        flex-grow: 1;
    }

    .expandable {
        margin-left: 12px;
        position: relative;

        :last-child {
            position: absolute;
            left: 0;
            bottom: -42px;
            z-index: 10;
            display: none;
        }
    }

    button {
        background-color: $accent-color;
        color: $tertiary-font-color;
        height: 42px;
        padding: 0 12px;
    }
}

.header-nav {
    @include flexbox();
    padding: 24px 0;

    ul {
        @include flexbox();
    }

    li {
        padding: 0 18px;
        text-transform: uppercase;
    }
}

.bag-button {
    width: 48px;
    padding: 9px;
    border-radius: 24px;
    background-color: $button-background;
}

.heading {
    background: $home-header-background;

    .wrapper {
        background: url(../assets/header.png) right / auto 75% no-repeat;
        padding: 144px 0;
    }

    p {
        @include font(1.2rem, 1.5rem, $secondary-font-color);
    }

    .discover-now {
        width: 192px;
        background: $accent-color;
        text-align: center;
        border-radius: 30px;
        margin-top: 36px;
    }

    a {
        @include font(0.9rem, 0.9rem, $tertiary-font-color, uppercase);
        padding: 21px 0;
    }
}

h1 {
    @include font(4rem, 4rem, $secondary-font-color, uppercase);
    margin: 24px 0;

    &.contact {
        @include font(1.5rem, 1.5rem, $primary-font-color, uppercase, 600);
        background: $contact-header-background url(../assets/contact-header.jpg) center / cover no-repeat;
        text-align: center;
        padding: 144px 0;
        margin: 0;
    }
}

h2 {
    @include font(2rem, 2rem, $secondary-font-color, uppercase, 300);
}

@media (max-width: 1200px) {

    .heading {

        h1 {
            font-size: max(3.2rem, 6vw);
            line-height: 3.2rem;
        }
        
        p {
            width: 50%;
        }

        .discover-now {
            margin-top: 24px;
        }
    }

    h1.contact {
        background-image: url(../assets/contact-header-smallscreen.png);
    }
}

@media (max-width: 960px) {

    .heading .wrapper {
        @include flexbox(column, flex-end, center);
        background: url(../assets/header.png) center 20px / 50% auto no-repeat;
        padding: 72px 0;
        height: 744px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    
    .settings .expandable,
    .header-nav ul {
        display: none;
    }

    .logo {
        flex-basis: 75%;

        a {
            width: 84px;
        }
    }

    .hamburger-button {
        display: block;
        background-color: $button-background;
        color: $primary-font-color;
        margin-left: 12px;
        flex-shrink: 0;
        border-radius: 6px;
        cursor: pointer;
        transition: box-shadow 0.25s;

        img {
            margin: 3px;
            width: 42px;
            height: 42px;
        }
    }

    .heading .wrapper {
        background-size: 65%;

        h1 {
            width: 85%;
        }

        p {
            width: 75%;
        }
    }

    h1.contact {
        background-image: url(../assets/contact-header-mobile.png);
    }
}

@media (max-width: 420px) {
    
    .settings {
        font-size: 0.65rem;
    }
}