@use "./variables" as *;
@use "./mixins" as *;


.cart-modal{

    
    @include flexbox(column);
    position: fixed;
    width: 1080px;
    height: 800px;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background: $footer-background;
    padding: 48px 96px;
    box-shadow: 0 0 24px $secondary-font-color;
    z-index: 20;
    
    
    .product-container{
        @include flexbox();
        width: 720px;
        background: $pure-white;
        margin: 40px 40px 0 40px;
        border-radius: 20px;
    }
    
    .image-container img{
        border-radius: 20px;
    }
    
    .product-details{

        p{
            line-height: 1.5rem;
        }

        button{
            margin-top: 30px;
            background-color: $button-background;
            border-bottom: 1px solid $secondary-font-color;
            cursor: pointer;
        }
    }

    h2{
        @include font(1.5rem, 1.5rem, $secondary-font-color, none, 600);
        margin-bottom: 20px;
        
    }

    .amount-btns{
        @include flexbox();
        align-self: flex-end;
        margin: 0 30px 30px 0;

        button{
            cursor: pointer;
            font-size: 1.2rem;
            background-color: $accent-color;
            width: 35px;
            height: 35px;
            text-align: center;
            border-radius: 50%;
        }

    }

    .subtotal {
        @include flexbox();
        width: 720px;
        border-bottom: 2px solid $pure-white;
        padding: 24px 0 12px 0;
    }

    .checkout {

        background: $tertiary-font-color;
        width: 720px;
        margin-top: 48px;
        padding: 24px;
        border-radius: 60px;
        text-align: center;

        
        a {
            @include font(1.5rem, 1.5rem, $secondary-font-color, none, 600);
            color: $pure-white;
        }
    }

    .close {
        cursor: pointer;
        font-size: 2rem;
        background: $footer-background;
        position: absolute;
        top: 24px;
        right: 24px;
    }


    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    //https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
    input[type=number] {
    -moz-appearance: textfield;
    width: 70px;
    text-align: center;
    }


}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.shopping-bag {
    position: relative;

    .cart-count, .cart-count-mobile {
        position: absolute;
        top: -6px;
        right: -6px;
        text-align: center;

        p {
            font-size: 0.75rem;;
            background-color: $accent-color;
            color: $tertiary-font-color;
            padding: 0 9px;
            border-radius: 12px;
        }
    }

    .cart-count-mobile{
        right: 0;
    }
}



.settings .expandable .display {
    display: block;
}

@media (max-width: 1200px) {

    footer {

        .child .display {
            display: block;
        }

        button {
            @include font(1rem, 1rem, $secondary-font-color);
            background-color: $footer-background;
            padding-bottom: 3px;
            border-bottom: 2px solid $footer-background;
            cursor: pointer;

            &:hover,
            &:focus {
                border-bottom: 2px solid $tertiary-font-color;
            }
        }
    }
}

@media (max-width: 600px) {

    header .mobile {

        @include flexbox(column);

        .visible {
            @include flexbox();
            width: 100%;
            padding: 24px 0;
        }

        .hidden {
            display: none;
        }

        .display {
            @include flexbox(column);
            width: 100%;
            padding: 24px 0;
            border-top: 2px solid $primary-font-color;
            border-bottom: 2px solid $primary-font-color;
        }

        .child {
            @include flexbox(column);

            button {
                background-color: $button-background;
                color: $primary-font-color;
                border-radius: 6px;
                padding: 3px 6px;
                margin: 3px 0;
                cursor: pointer;

                &:hover,
                &:focus {
                background-color: $button-border;
            }
            }
        }

        .nav-icons {
            @include flexbox();
        }

        .bag-icon {
            margin-right: 6px;

            img {
                width: 48px;
            }
        }

        h6 {
            @include font(1rem, 1rem, $primary-font-color, uppercase, 600);
            border-bottom: 2px solid $primary-font-color;
            padding-bottom: 6px;
            margin: 24px 0 12px 0;
        }

        ul {
            @include flexbox(column);
        }

        li a {
            border-radius: 6px;
            padding: 3px 6px;
            margin: 3px 0;

            &:hover,
            &:focus {
                background-color: $button-border;
            }
        }

        .hamburger-icon {
            background-color: $button-background;
            color: $primary-font-color;
            width: 48px;
            height: auto;
            border-radius: 6px;
            padding: 3px 6px;
            margin: 3px 0;
            cursor: pointer;
            transition: box-shadow 0.25s;

            &:hover,
            &:focus {
                box-shadow: 0 0 9px $primary-font-color;
            }
        }
    }
}

@media (max-width: 540px) {

    .filters .display {
        @include flexbox(column);
        margin-top: 12px;

        button {
            border: none;
            border-radius: 0;
            border-bottom: 2px dotted $tertiary-font-color;
            width: 180px;
            padding: 6px 0;

            &:hover,
            &:focus {
                background-color: $button-border;
            }
        }

        :first-child {
            border-top: 2px dotted $tertiary-font-color;
        }
    }
}