@use "./variables" as *;
@use "./mixins" as *;


.settings .expandable .display {
    display: block;
}

@media (max-width: 1200px) {

    footer {

        .child .display {
            display: block;
        }

        button {
            @include font(1rem, 1rem, $secondary-font-color);
            background-color: $footer-background;
            padding-bottom: 3px;
            border-bottom: 2px solid $footer-background;
            cursor: pointer;

            &:hover,
            &:focus {
                border-bottom: 2px solid $tertiary-font-color;
            }
        }
    }
}

@media (max-width: 600px) {

    header .mobile {

        @include flexbox(column);

        .visible {
            @include flexbox();
            width: 100%;
            padding: 24px 0;
        }

        .hidden {
            display: none;
        }

        .display {
            @include flexbox(column);
            width: 100%;
            padding: 24px 0;
            border-top: 2px solid $primary-font-color;
            border-bottom: 2px solid $primary-font-color;
        }

        .child {
            @include flexbox(column);

            button {
                background-color: $button-background;
                color: $primary-font-color;
                border-radius: 6px;
                padding: 3px 6px;
                margin: 3px 0;
                cursor: pointer;

                &:hover,
                &:focus {
                background-color: $button-border;
            }
            }
        }

        .nav-icons {
            @include flexbox();
        }

        .bag-icon {
            margin-right: 6px;

            img {
                width: 48px;
            }
        }

        h6 {
            @include font(1rem, 1rem, $primary-font-color, uppercase, 600);
            border-bottom: 2px solid $primary-font-color;
            padding-bottom: 6px;
            margin: 24px 0 12px 0;
        }

        ul {
            @include flexbox(column);
        }

        li a {
            border-radius: 6px;
            padding: 3px 6px;
            margin: 3px 0;

            &:hover,
            &:focus {
                background-color: $button-border;
            }
        }

        .hamburger-icon {
            background-color: $button-background;
            color: $primary-font-color;
            width: 48px;
            height: auto;
            border-radius: 6px;
            padding: 3px 6px;
            margin: 3px 0;
            cursor: pointer;
            transition: box-shadow 0.25s;

            &:hover,
            &:focus {
                box-shadow: 0 0 9px $primary-font-color;
            }
        }
    }
}

@media (max-width: 540px) {

    .filters .display {
        @include flexbox(column);
        margin-top: 12px;

        button {
            border: none;
            border-radius: 0;
            border-bottom: 2px dotted $tertiary-font-color;
            width: 180px;
            padding: 6px 0;

            &:hover,
            &:focus {
                background-color: $button-border;
            }
        }

        :first-child {
            border-top: 2px dotted $tertiary-font-color;
        }
    }
}