@use "./variables" as *;
@use "./mixins" as *;

h3 {
    @include font(1.7rem, 1.7rem, $primary-font-color, uppercase, 600);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 25%;
        left: -33%;
        top: 50%;
        height: 2px;
        background: $tertiary-font-color;
    }

    &::after {
        content: "";
        position: absolute;
        width: 25%;
        right: -33%;
        top: 50%;
        height: 2px;
        background: $tertiary-font-color;
    }
}

.promises {
    @include flexbox();
    margin: 72px 0;

    .child {
        @include flexbox(row, center);
        border: 2px dotted $tertiary-font-color;
        width: calc(100%/3 - 12px);
        border-radius: 6px;
        padding: 18px 0;
    
        img {
            width: 48px;
            margin-right: 12px;
        }
    
        p {
            @include font(0.9rem, 1.25rem, $primary-font-color);
        }
    
        strong {
            @include font(1rem, 1.25rem, $secondary-font-color, none, 600);
        }
    }
}

.products {
    @include flexbox(column);
}

.filters {
    margin: 48px 0 24px 0;

    button {
        background: $button-background;
        color: $primary-font-color;
        border: 2px solid $button-border;
        border-radius: 6px;
        margin: 0 12px;
        padding: 12px 24px;
        cursor: pointer;
    }
}

.featured {
    @include flexbox();
    flex-wrap: wrap;

    .child {
        width: calc(100%/4 - 24px);
    }    
}

.product-image {
    position: relative;
    margin: 24px 0 12px 0;

    button {
        position: absolute;
        left: 12px;
        bottom: 12px;
        width: 36px;
        height: 30px;
        padding: 3px;
        background: $button-background;
        box-shadow: 0 0 6px $primary-font-color;
        cursor: pointer;

        img {
            width: 30px;
            height: 24px;
        }
    }
}

.price {
    @include font(1.1rem, 1.1rem, $tertiary-font-color);
    margin-top: 12px;
}

.collections {
    @include flexbox();
    flex-wrap: wrap;
    width: 100%;
    margin: 48px 0;

    .child {
        height: 264px;
        padding: 36px;
        margin-bottom: 24px;
        background: $collections-background center / cover no-repeat;
    }

    .collection1 {
        width: calc(70% - 12px);
        background-image: url(../assets/b1.jpeg);
    }

    .collection4 {
        width: calc(70% - 12px);
        background-image: url(../assets/b4.jpeg);
    }

    .collection2,
    .collection3 {
        @include flexbox(column, flex-start, center);
        width: calc(30% - 12px);
        background-image: url(../assets/b2.jpeg);
        text-align: center;
    }

    .collection3 {
        background-image: url(../assets/b3.jpeg);
    }

    h4 {
        @include font(1.6rem, 1.6rem, $secondary-font-color, none, 600);
        margin: 24px 0;
        text-shadow: 0 3px 6px $collections-background, 0 -3px 6px $collections-background;
    }

    p {
        @include font(0.9rem, 0.9rem, $secondary-font-color);
        text-shadow: 0 3px 3px $collections-background, 0 -3px 3px $collections-background;
    }

    .shop-now {
        @include font(0.9rem, 0.9rem, $tertiary-font-color, uppercase);
        width: 156px;
        background: $accent-color;
        text-align: center;
        border-radius: 24px;
        padding: 15px 0;
    }
}

.blog {
    @include flexbox(column);
}

.blog-heading {
    @include flexbox(column, space-between, center);

    p {
        margin-top: 24px;
        width: 75%;
        text-align: center;
    }
}

.blog-posts {
    @include flexbox();
    margin: 48px 0 84px 0;

    .child {
        width: calc(100%/3 - 24px);
        background: $blog-post-background;
        padding: 36px;
        border-radius: 12px;
    }

    .blog-text {
        @include font(0.9rem, 1.5rem);
        margin-bottom: 24px;
    }

    .byline {
        @include flexbox(row, flex-start);
        @include font(0.7rem, 0.8rem, $tertiary-font-color, uppercase);
        margin-bottom: 12px;

        p {
            margin-right: 12px;
        }
    }

    h5 {
        @include font(1.2rem, 1.2rem, $primary-font-color, none, 600);
        margin: 24px 0;
    }

    img {
        border-radius: 12px;
    }
}

// begin media queries

@media (max-width: 1296px) {
    
    .promises {
        flex-direction: column;
        margin: 48px 0;

        .child {
            justify-content: center;
            width: min(360px, 100%);
            border: none;
            border-radius: 0;
            border-bottom: 2px dotted $tertiary-font-color;
            padding: 9px 0;
        }

        > :first-child {
            border-top: 2px dotted $tertiary-font-color;
        }
    }

    .featured {
        @include flexbox(row, center);

        .child {
            @include flexbox(column);
            width: max(288px, 50%);
        }
    }

    .product-text {
        margin-right: 72px;
    }

    .product-image button {
        left: auto;
        right: 0;
        bottom: -60px;
        width: 48px;
        height: 42px;
        padding: 6px;

        img {
            width: 36px;
            height: 30px;
        }
    }

    .collections {

        .collection1,
        .collection4 {
            width: 100%;
        }

        .collection2,
        .collection3 {
            width: calc(50% - 12px);
        }
    }

    .blog-posts {
        flex-direction: column;
        margin: 36px 0;

        .child {
            @include flexbox(row, center, flex-start);
            width: 684px;
            margin-bottom: 24px;
        }

        .blog-text {
            margin: 0 24px 0 0;
        }

        img {
            width: 240px;
        }
    }
}

@media (max-width: 720px) {

    .settings {
        font-size: 0.7rem;
    }

    h3 {
        font-size: max(1.2rem, 5vw);
    }

    .collections {
        @include flexbox(column);

        .child {
            width: min(360px, 100%);
            margin: 0;
        }

        .collection1 {
            background-image: url(../assets/b1-smallscreen.jpg);
        }

        .collection4 {
            background-image: url(../assets/b4-smallscreen.jpg);
        }

        .collection1,
        .collection4 {
            @include flexbox(column, center);
            text-align: center;
        }

        .collection2,
        .collection3 {
            justify-content: center;
        }
    }
    
    .blog-posts {

        .child {
            @include flexbox(column, space-between, center);
            width: min(420px, 100%);
            padding: 24px;
        }

        .blog-text {
            margin: 0 0 24px 0;
            text-align: center;
        }

        .byline {
            @include flexbox(row, center);

            p {
                margin: 0 6px;
            }
        }
    }
}

@media (max-width: 540px) {
    
    .promises .child p {
        font-size: 0.8rem;
    }

    .filters {
        margin: 24px 0 0 0;

        button {
            display: none;
        }

        .mobile {
            display: block;
            cursor: pointer;
            margin: 0;
        }
    }
}