$accent-color: #abd373;
$primary-font-color: #4c4c4c;
$secondary-font-color: #000000;
$tertiary-font-color: #06321B;
$input-hover: #d3d3d3;
$blog-post-background: #f6f7fb;
$font-stack: 'Rubik', sans-serif;