$accent-color: #abd373;
$primary-font-color: #4c4c4c;
$secondary-font-color: #000000;
$tertiary-font-color: #06321B;
$home-header-background: #f8eee5;
$contact-header-background: #eeeeee;
$blog-post-background: #f6f7fb;
$footer-background: #d8e9d6;
$input-hover: #d3d3d3cc;
$font-stack: 'Rubik', sans-serif;