html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #4c4c4c;
  text-transform: none;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, fieldset, input {
  margin: 0;
  padding: 0;
}

fieldset, input, textarea, button {
  border: 0;
}

button {
  font-family: "Rubik", sans-serif;
}

span, img, a {
  display: block;
}

.wrapper {
  width: 55%;
  max-width: 1056px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4c4c4c;
}

address {
  font-style: normal;
}

.mobile {
  display: none;
}

@media (max-width: 1680px) {
  .wrapper {
    width: 75%;
  }
}
@media (max-width: 840px) {
  .wrapper {
    width: 90%;
  }
}
.settings {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 400;
  background: #abd373;
}
.settings .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
}
.settings p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.settings .expandable {
  margin-left: 12px;
  position: relative;
}
.settings .expandable :last-child {
  position: absolute;
  left: 0;
  bottom: -42px;
  z-index: 10;
  display: none;
}
.settings button {
  background-color: #abd373;
  color: #06321B;
  height: 42px;
  padding: 0 12px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}
.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav li {
  padding: 0 18px;
  text-transform: uppercase;
}

.bag-button {
  width: 48px;
  padding: 9px;
  border-radius: 24px;
  background-color: #ffffff;
}

.heading {
  background: #f8eee5;
}
.heading .wrapper {
  background: url(../assets/header.png) right/auto 75% no-repeat;
  padding: 144px 0;
}
.heading p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  text-transform: none;
  font-weight: 400;
}
.heading .discover-now {
  width: 192px;
  background: #abd373;
  text-align: center;
  border-radius: 30px;
  margin-top: 36px;
}
.heading a {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 400;
  padding: 21px 0;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 24px 0;
}
h1.contact {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: 600;
  background: #eeeeee url(../assets/contact-header.jpg) center/cover no-repeat;
  text-align: center;
  padding: 144px 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .heading h1 {
    font-size: max(3.2rem, 6vw);
    line-height: 3.2rem;
  }
  .heading p {
    width: 50%;
  }
  .heading .discover-now {
    margin-top: 24px;
  }
  h1.contact {
    background-image: url(../assets/contact-header-smallscreen.png);
  }
}
@media (max-width: 960px) {
  .heading .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../assets/header.png) center 20px/50% auto no-repeat;
    padding: 72px 0;
    height: 744px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .settings .expandable,
  .header-nav ul {
    display: none;
  }
  .logo {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .logo a {
    width: 84px;
  }
  .hamburger-button {
    display: block;
    background-color: #ffffff;
    color: #4c4c4c;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    margin-left: 12px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  }
  .heading .wrapper {
    background-size: 65%;
  }
  .heading .wrapper h1 {
    width: 85%;
  }
  .heading .wrapper p {
    width: 75%;
  }
  h1.contact {
    background-image: url(../assets/contact-header-mobile.png);
  }
}
@media (max-width: 420px) {
  .settings {
    font-size: 0.65rem;
  }
}
h3 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
h3::before {
  content: "";
  position: absolute;
  width: 25%;
  left: -33%;
  top: 50%;
  height: 2px;
  background: #06321B;
}
h3::after {
  content: "";
  position: absolute;
  width: 25%;
  right: -33%;
  top: 50%;
  height: 2px;
  background: #06321B;
}

.promises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 72px 0;
}
.promises .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dotted #06321B;
  width: calc(33.3333333333% - 12px);
  border-radius: 6px;
  padding: 18px 0;
}
.promises .child img {
  width: 48px;
  margin-right: 12px;
}
.promises .child p {
  font-size: 0.9rem;
  line-height: 1.25rem;
  color: #4c4c4c;
  text-transform: none;
  font-weight: 400;
}
.promises .child strong {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #000000;
  text-transform: none;
  font-weight: 600;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters {
  margin: 48px 0 24px 0;
}
.filters button {
  background: #ffffff;
  color: #4c4c4c;
  border: 2px solid #d3d3d3;
  border-radius: 6px;
  margin: 0 12px;
  padding: 12px 24px;
  cursor: pointer;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.featured .child {
  width: calc(25% - 24px);
}

.product-image {
  position: relative;
  margin: 24px 0 12px 0;
}
.product-image button {
  position: absolute;
  left: 12px;
  bottom: 12px;
  width: 36px;
  height: 30px;
  padding: 3px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 6px #4c4c4c;
          box-shadow: 0 0 6px #4c4c4c;
  cursor: pointer;
}
.product-image button img {
  width: 30px;
  height: 24px;
}

.price {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: #06321B;
  text-transform: none;
  font-weight: 400;
  margin-top: 12px;
}

.collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 48px 0;
}
.collections .child {
  height: 264px;
  padding: 36px;
  margin-bottom: 24px;
  background: #dee2e6 center/cover no-repeat;
}
.collections .collection1 {
  width: calc(70% - 12px);
  background-image: url(../assets/b1.jpeg);
}
.collections .collection4 {
  width: calc(70% - 12px);
  background-image: url(../assets/b4.jpeg);
}
.collections .collection2,
.collections .collection3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(30% - 12px);
  background-image: url(../assets/b2.jpeg);
  text-align: center;
}
.collections .collection3 {
  background-image: url(../assets/b3.jpeg);
}
.collections h4 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #000000;
  text-transform: none;
  font-weight: 600;
  margin: 24px 0;
  text-shadow: 0 3px 6px #dee2e6, 0 -3px 6px #dee2e6;
}
.collections p {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #000000;
  text-transform: none;
  font-weight: 400;
  text-shadow: 0 3px 3px #dee2e6, 0 -3px 3px #dee2e6;
}
.collections .shop-now {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 400;
  width: 156px;
  background: #abd373;
  text-align: center;
  border-radius: 24px;
  padding: 15px 0;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-heading p {
  margin-top: 24px;
  width: 75%;
  text-align: center;
}

.blog-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 84px 0;
}
.blog-posts .child {
  width: calc(33.3333333333% - 24px);
  background: #f6f7fb;
  padding: 36px;
  border-radius: 12px;
}
.blog-posts .blog-text {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #4c4c4c;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 24px;
}
.blog-posts .byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 12px;
}
.blog-posts .byline p {
  margin-right: 12px;
}
.blog-posts h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #4c4c4c;
  text-transform: none;
  font-weight: 600;
  margin: 24px 0;
}
.blog-posts img {
  border-radius: 12px;
}

@media (max-width: 1296px) {
  .promises {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 48px 0;
  }
  .promises .child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: min(360px, 100%);
    border: none;
    border-radius: 0;
    border-bottom: 2px dotted #06321B;
    padding: 9px 0;
  }
  .promises > :first-child {
    border-top: 2px dotted #06321B;
  }
  .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured .child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: max(288px, 50%);
  }
  .product-text {
    margin-right: 72px;
  }
  .product-image button {
    left: auto;
    right: 0;
    bottom: -60px;
    width: 48px;
    height: 42px;
    padding: 6px;
  }
  .product-image button img {
    width: 36px;
    height: 30px;
  }
  .collections .collection1,
  .collections .collection4 {
    width: 100%;
  }
  .collections .collection2,
  .collections .collection3 {
    width: calc(50% - 12px);
  }
  .blog-posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 36px 0;
  }
  .blog-posts .child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 684px;
    margin-bottom: 24px;
  }
  .blog-posts .blog-text {
    margin: 0 24px 0 0;
  }
  .blog-posts img {
    width: 240px;
  }
}
@media (max-width: 720px) {
  h3 {
    font-size: max(1.2rem, 5vw);
  }
  .collections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .collections .child {
    width: min(360px, 100%);
    margin: 0;
  }
  .collections .collection1 {
    background-image: url(../assets/b1-smallscreen.jpg);
  }
  .collections .collection4 {
    background-image: url(../assets/b4-smallscreen.jpg);
  }
  .collections .collection1,
  .collections .collection4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .collections .collection2,
  .collections .collection3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-posts .child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: min(420px, 100%);
    padding: 24px;
  }
  .blog-posts .blog-text {
    margin: 0 0 24px 0;
    text-align: center;
  }
  .blog-posts .byline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-posts .byline p {
    margin: 0 6px;
  }
}
@media (max-width: 540px) {
  .promises .child p {
    font-size: 0.8rem;
  }
  .filters {
    margin: 24px 0 0 0;
  }
  .filters .options {
    display: none;
  }
  .filters .mobile {
    display: block;
    border: none;
    padding: 6px;
    margin: 0 auto;
  }
}
main.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 96px auto;
  -webkit-box-shadow: 0 0 12px #4c4c4c;
          box-shadow: 0 0 12px #4c4c4c;
}

.contact-info {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 48px 48px 144px 48px;
  background: #abd373 url(../assets/contact.jpg) center/cover no-repeat;
}
.contact-info h2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #06321B;
  text-transform: none;
  font-weight: 600;
}
.contact-info p {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #06321B;
  text-transform: none;
  font-weight: 400;
  margin: 24px 0;
}
.contact-info a {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #06321B;
  text-transform: none;
  font-weight: 400;
}
.contact-info li {
  margin-bottom: 12px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding: 48px;
}
form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form input,
form textarea {
  border-bottom: 1px solid #4c4c4c;
  border-radius: 0;
  padding: 12px;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-style: italic;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-style: italic;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-style: italic;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  font-style: italic;
}
form input::placeholder,
form textarea::placeholder {
  font-style: italic;
}
form input {
  width: calc(50% - 12px);
  height: 60px;
}
form textarea {
  width: 100%;
  height: 144px;
}
form button {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 600;
  background: #abd373;
  width: 192px;
  padding: 21px 0;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 1080px) {
  main.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-info,
  form {
    width: 100%;
    padding: 36px;
    text-align: center;
  }
  .contact-info p,
  .contact-info li {
    margin: 12px 0;
  }
  input,
  textarea {
    margin-bottom: 24px;
  }
}
@media (max-width: 480px) {
  form fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form input,
  form textarea {
    width: 100%;
    border: 1px solid #4c4c4c;
    border-radius: 12px;
  }
  form button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
footer {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #000000;
  text-transform: none;
  font-weight: 400;
  background: #d8e9d6 url(../assets/footer.jpg) center/cover no-repeat;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 84px 0 96px 0;
  position: relative;
}
footer .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer h6 {
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 18px;
}
footer a {
  color: #000000;
}

.social-media {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.social-media p {
  margin: 24px 0;
}

.media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.media-icons li {
  border: 2px solid #000000;
  margin-right: 12px;
}
.media-icons img {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.copyright {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #06321B;
  text-transform: none;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #06321B;
  text-align: center;
  padding: 12px 0;
}

@media (max-width: 1200px) {
  footer {
    background-image: url(../assets/footer-smallscreen.png);
  }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px 0 72px 0;
  }
  footer .child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
  footer .child ul {
    display: none;
    margin: 15px 0;
  }
  footer .social-media p {
    margin: 12px 0;
  }
  footer .social-media ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .media-icons li {
    margin: 0 6px;
  }
}
*:focus {
  outline: none;
}

.header-nav ul a {
  -webkit-transition: border-bottom 0.1s;
  transition: border-bottom 0.1s;
}
.header-nav ul a:hover, .header-nav ul a:focus {
  border-bottom: 4px solid #4c4c4c;
  -webkit-animation: bounce 0.4s ease 0.1s infinite alternate;
          animation: bounce 0.4s ease 0.1s infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
}
.settings button,
.logo a,
.bag-button,
.hamburger-button,
.discover-now,
.product-image a,
.shop-now,
.blog-posts .child,
form button {
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.settings button:hover, .settings button:focus, .settings button:focus-within,
.logo a:hover,
.logo a:focus,
.logo a:focus-within,
.bag-button:hover,
.bag-button:focus,
.bag-button:focus-within,
.hamburger-button:hover,
.hamburger-button:focus,
.hamburger-button:focus-within,
.discover-now:hover,
.discover-now:focus,
.discover-now:focus-within,
.product-image a:hover,
.product-image a:focus,
.product-image a:focus-within,
.shop-now:hover,
.shop-now:focus,
.shop-now:focus-within,
.blog-posts .child:hover,
.blog-posts .child:focus,
.blog-posts .child:focus-within,
form button:hover,
form button:focus,
form button:focus-within {
  -webkit-box-shadow: 0 0 9px #4c4c4c;
          box-shadow: 0 0 9px #4c4c4c;
}

.filters button:hover,
.filters button:focus {
  color: #06321B;
  border: 2px dotted #06321B;
}
.filters .mobile:hover,
.filters .mobile:focus {
  border: none;
  background-color: #d3d3d3;
}

.product-image button,
.media-icons li {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.product-image button:hover, .product-image button:focus, .product-image button:focus-within,
.media-icons li:hover,
.media-icons li:focus,
.media-icons li:focus-within {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.product-text a,
.contact-info a,
footer a:not(.social-media a) {
  position: relative;
  display: inline;
}
.product-text a::after,
.contact-info a::after,
footer a:not(.social-media a)::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background: #06321B;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.product-text a:hover::after, .product-text a:focus::after,
.contact-info a:hover::after,
.contact-info a:focus::after,
footer a:not(.social-media a):hover::after,
footer a:not(.social-media a):focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 100%;
}

.product-text a::after {
  background: #4c4c4c;
}

footer a::after {
  background: #000000;
}

input,
textarea {
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  background-color: #dddddd;
}

.settings .expandable .display {
  display: block;
}

@media (max-width: 1200px) {
  footer .child .display {
    display: block;
  }
  footer button {
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
    text-transform: none;
    font-weight: 400;
    background-color: #d8e9d6;
    padding-bottom: 3px;
    border-bottom: 2px solid #d8e9d6;
    cursor: pointer;
  }
  footer button:hover, footer button:focus {
    border-bottom: 2px solid #06321B;
  }
}
@media (max-width: 600px) {
  header > .mobile .child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header > .mobile .child button {
    background-color: #ffffff;
    color: #4c4c4c;
    border-radius: 6px;
    padding: 3px 6px;
    margin: 3px 0;
    cursor: pointer;
  }
  header > .mobile .child button:hover, header > .mobile .child button:focus {
    background-color: #d3d3d3;
  }
  header > .mobile h6 {
    font-size: 1rem;
    line-height: 1rem;
    color: #4c4c4c;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 2px solid #4c4c4c;
    padding-bottom: 6px;
    margin: 24px 0 12px 0;
  }
  header > .mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header > .mobile li a {
    border-radius: 6px;
    padding: 3px 6px;
    margin: 3px 0;
  }
  header > .mobile li a:hover, header > .mobile li a:focus {
    background-color: #d3d3d3;
  }
  header > .display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 24px 0;
    border-top: 2px solid #4c4c4c;
    border-bottom: 2px solid #4c4c4c;
  }
}
@media (max-width: 540px) {
  .filters .display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12px;
  }
  .filters .display button {
    border: none;
    border-radius: 0;
    border-bottom: 2px dotted #06321B;
    width: 180px;
    padding: 6px 0;
  }
  .filters .display button:hover, .filters .display button:focus {
    background-color: #d3d3d3;
  }
  .filters .display :first-child {
    border-top: 2px dotted #06321B;
  }
}
.cart-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  max-height: 720px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden auto;
  background: #d8e9d6;
  padding: 120px;
  -webkit-box-shadow: 0 0 24px #000000;
          box-shadow: 0 0 24px #000000;
  z-index: 20;
}
.cart-modal .product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 720px;
  background: #ffffff;
  margin-bottom: 36px;
  border-radius: 24px;
}
.cart-modal img {
  border-radius: 24px;
}
.cart-modal .product-details {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.cart-modal .product-details p {
  line-height: 1.5rem;
}
.cart-modal .product-details button {
  color: #000000;
  margin-top: 36px;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}
.cart-modal h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #000000;
  text-transform: none;
  font-weight: 600;
  margin-bottom: 20px;
}
.cart-modal .amount-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 36px 36px 0;
}
.cart-modal .amount-buttons button {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #000000;
  text-transform: none;
  font-weight: 600;
  cursor: pointer;
  background-color: #abd373;
  width: 36px;
  height: 36px;
  padding: auto;
  text-align: center;
  border-radius: 18px;
}
.cart-modal .subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 720px;
  border-bottom: 2px solid #ffffff;
  padding: 12px 0;
}
.cart-modal .checkout {
  background: #06321B;
  width: 720px;
  margin-top: 48px;
  padding: 24px;
  border-radius: 60px;
  text-align: center;
}
.cart-modal .checkout a {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #000000;
  text-transform: none;
  font-weight: 600;
  color: #ffffff;
}
.cart-modal .close {
  font-size: 2rem;
  line-height: 1.5rem;
  color: #06321B;
  text-transform: none;
  font-weight: 600;
  cursor: pointer;
  background: #d8e9d6;
  position: absolute;
  top: 24px;
  right: 24px;
}
.cart-modal input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  width: 48px;
  height: 36px;
  margin: 0 3px;
  text-align: center;
}
.cart-modal input[type=number]::-webkit-outer-spin-button, .cart-modal input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.empty-cart {
  border-radius: 30px;
  height: 500px;
  text-align: center;
}
.empty-cart p {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #000000;
  text-transform: none;
  font-weight: 400;
  margin: auto;
}
.empty-cart a {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ffffff;
  text-transform: none;
  font-weight: 600;
  background: #06321B;
  width: 720px;
  margin-top: 48px;
  padding: 24px;
  border-radius: 60px;
  text-align: center;
}

.cart-modal-hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.shopping-bag {
  position: relative;
}
.shopping-bag .cart-count {
  position: absolute;
  top: -3px;
  right: -3px;
  text-align: center;
}
.shopping-bag .cart-count p {
  font-size: 0.75rem;
  background-color: #abd373;
  color: #06321B;
  padding: 0 9px;
  border-radius: 12px;
}

@media (max-width: 1080px) {
  .cart-modal {
    padding: 96px;
  }
  .cart-modal .product-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
  }
  .cart-modal .subtotal {
    width: 360px;
  }
  .cart-modal .checkout {
    width: 360px;
  }
  .empty-cart a {
    width: 360px;
  }
}
@media (max-width: 600px) {
  .cart-modal {
    padding: 42px;
    text-align: center;
    max-height: 600px;
  }
  .cart-modal .product-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 218px;
  }
  .cart-modal .subtotal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 218px;
  }
  .cart-modal .checkout {
    width: 218px;
  }
  .cart-modal .amount-buttons {
    margin: 24px;
    -ms-flex-item-align: auto;
        align-self: auto;
  }
  .cart-modal .close {
    top: 12px;
    right: 12px;
  }
  .empty-cart {
    height: 330px;
  }
  .empty-cart p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #4c4c4c;
    text-transform: none;
    font-weight: 400;
    margin-top: 24px;
  }
  .empty-cart a {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #ffffff;
    text-transform: none;
    font-weight: 600;
    width: 218px;
  }
}