html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #4c4c4c;
  text-transform: none;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, fieldset, input {
  margin: 0;
  padding: 0;
}

fieldset, input, textarea, button {
  border: 0;
}

span, img, a {
  display: block;
}

.wrapper {
  width: 55%;
  max-width: 1056px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4c4c4c;
}

address {
  font-style: normal;
}

@media (max-width: 1680px) {
  .wrapper {
    width: 75%;
  }
}
@media (max-width: 720px) {
  .wrapper {
    width: 90%;
  }
}
.settings {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 400;
  background: #abd373;
}
.settings .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}
.settings p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.settings a {
  color: #06321B;
  margin-left: 25px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav li {
  padding: 0 20px;
  text-transform: uppercase;
}

.collapsible-menu-top {
  display: none;
}

.shopping-bag {
  min-width: 50px;
  padding: 10px;
  border-radius: 25px;
}

.heading {
  background: #f8eee5;
}
.heading .wrapper {
  background: url(../assets/header.png) right/auto 75% no-repeat;
  padding: 150px 0;
}
.heading p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #000000;
  text-transform: none;
  font-weight: 400;
}
.heading .discover-now {
  width: 200px;
  background: #abd373;
  text-align: center;
  border-radius: 29px;
  margin-top: 40px;
}
.heading a {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 0;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0;
}
h1.contact {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: 600;
  background: #eeeeee url(../assets/contact-header.jpg) center/cover no-repeat;
  text-align: center;
  padding: 150px 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .heading h1 {
    font-size: max(3.2rem, 6vw);
    line-height: 3.2rem;
  }
  .heading p {
    width: 50%;
  }
  .heading .discover-now {
    margin-top: 20px;
  }
}
@media (max-width: 960px) {
  .heading .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../assets/header.png) center 20px/50% auto no-repeat;
    padding: 75px 0;
    height: max(75vh, 750px);
    text-align: center;
  }
}
@media (max-width: 600px) {
  .settings .wrapper a,
  .header-nav > ul {
    display: none;
  }
  .collapsible-menu-top {
    display: block;
  }
  .collapsible-menu-top summary {
    font-size: 1.1rem;
    line-height: 1rem;
    color: #4c4c4c;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
  }
  .collapsible-menu-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    width: 90px;
  }
  .heading .wrapper {
    background-size: 65%;
  }
  .heading .wrapper h1 {
    width: 85%;
  }
  .heading .wrapper p {
    width: 75%;
  }
}
h3 {
  font-size: 1.7rem;
  line-height: 1.7rem;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
h3::before {
  content: "";
  position: absolute;
  width: 25%;
  left: -33%;
  top: 50%;
  height: 2px;
  background: #06321B;
}
h3::after {
  content: "";
  position: absolute;
  width: 25%;
  right: -33%;
  top: 50%;
  height: 2px;
  background: #06321B;
}

.promises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 75px 0;
}
.promises .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed #06321B;
  border-radius: 5px;
  padding: 20px 15px;
}
.promises .child img {
  max-width: 50px;
  margin-right: 15px;
}
.promises .child p {
  font-size: 0.9rem;
  line-height: 1.25rem;
  color: #4c4c4c;
  text-transform: none;
  font-weight: 400;
}
.promises .child strong {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #000000;
  text-transform: none;
  font-weight: 600;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters {
  margin: 50px 0 30px 0;
}
.filters button {
  background: white;
  color: #4c4c4c;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin: 0 15px;
  padding: 10px 20px;
  cursor: pointer;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.featured .child {
  width: calc(25% - 24px);
}

.product-image {
  position: relative;
  margin: 15px 0;
}
.product-image button {
  position: absolute;
  left: 10px;
  bottom: 10px;
  max-width: 40px;
  height: auto;
  background: white;
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
  cursor: pointer;
}

.price {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: #06321B;
  text-transform: none;
  font-weight: 400;
  margin-top: 15px;
}

.collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}
.collections .child {
  padding: 40px;
  margin-bottom: 24px;
}
.collections .collection1 {
  width: calc(70% - 12px);
  background: #abd373 url(../assets/b1.jpeg) center/cover no-repeat;
}
.collections .collection4 {
  width: calc(70% - 12px);
  background: #abd373 url(../assets/b4.jpeg) center/cover no-repeat;
}
.collections .collection2,
.collections .collection3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(30% - 12px);
  background: #abd373 url(../assets/b2.jpeg) center/cover no-repeat;
  text-align: center;
}
.collections .collection2 h4, .collections .collection2 p,
.collections .collection3 h4,
.collections .collection3 p {
  background: rgba(204, 197, 197, 0.7);
  border-radius: 15px;
  padding: 0 10px;
}
.collections .collection3 {
  background: #abd373 url(../assets/b3.jpeg) center/cover no-repeat;
}
.collections h4 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #000000;
  text-transform: none;
  font-weight: 600;
  margin: 24px 0;
}
.collections .shop-now {
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 400;
  width: 156px;
  background: #abd373;
  text-align: center;
  border-radius: 24px;
  padding: 15px 0;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-heading p {
  margin-top: 24px;
  width: 75%;
  text-align: center;
}

.blog-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 84px 0;
}
.blog-posts .child {
  width: calc(33.3333333333% - 24px);
  background: #f6f7fb;
  padding: 36px;
  border-radius: 12px;
}
.blog-posts .blog-text {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #4c4c4c;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 24px;
}
.blog-posts .byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 12px;
}
.blog-posts .byline p {
  margin-right: 12px;
}
.blog-posts h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #4c4c4c;
  text-transform: none;
  font-weight: 600;
  margin: 24px 0;
}
.blog-posts img {
  border-radius: 12px;
}

@media (max-width: 1296px) {
  .promises {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promises .child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: max(288px, 60vw);
    margin-top: 24px;
  }
  .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured .child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: max(288px, 42%);
  }
  .collections .collection1,
  .collections .collection4 {
    width: 100%;
  }
  .collections .collection2,
  .collections .collection3 {
    width: calc(50% - 12px);
  }
  .blog-posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-posts .child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 648px;
    margin-bottom: 24px;
  }
  .blog-posts .blog-text {
    margin: 0 24px 0 0;
  }
  .blog-posts img {
    width: 216px;
  }
}
@media (max-width: 720px) {
  .settings {
    font-size: 0.7rem;
  }
  h3 {
    font-size: max(1.2rem, 5vw);
  }
  .blog-posts .child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: max(288px, 50vw);
  }
  .blog-posts .blog-text {
    margin: 0 0 24px 0;
    text-align: center;
  }
  .blog-posts .byline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-posts .byline p {
    margin: 0 6px;
  }
}
main.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 100px auto;
  -webkit-box-shadow: 0 0 20px grey;
          box-shadow: 0 0 20px grey;
}

.contact-info {
  width: 30%;
  padding: 50px 50px 150px 50px;
  background: #abd373 url(../assets/contact.jpg) center/cover no-repeat;
}
.contact-info h2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #06321B;
  text-transform: none;
  font-weight: 600;
}
.contact-info p {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #06321B;
  text-transform: none;
  font-weight: 400;
  margin: 20px 0;
}
.contact-info a {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #06321B;
  text-transform: none;
  font-weight: 400;
}
.contact-info li {
  margin-bottom: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 70%;
  padding: 50px;
}
form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form input {
  border-bottom: 1px solid #4c4c4c;
  padding: 10px;
  width: calc(50% - 10px);
  height: 60px;
}
form input::-webkit-input-placeholder {
  font-style: italic;
}
form input::-moz-placeholder {
  font-style: italic;
}
form input:-ms-input-placeholder {
  font-style: italic;
}
form input::-ms-input-placeholder {
  font-style: italic;
}
form input::placeholder {
  font-style: italic;
}
form textarea {
  border-bottom: 1px solid #4c4c4c;
  padding: 10px;
  width: 100%;
  height: 150px;
}
form textarea::-webkit-input-placeholder {
  font-style: italic;
}
form textarea::-moz-placeholder {
  font-style: italic;
}
form textarea:-ms-input-placeholder {
  font-style: italic;
}
form textarea::-ms-input-placeholder {
  font-style: italic;
}
form textarea::placeholder {
  font-style: italic;
}
form button {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #06321B;
  text-transform: uppercase;
  font-weight: 600;
  background: #abd373;
  width: 200px;
  padding: 20px 0;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #000000;
  text-transform: none;
  font-weight: 400;
  background: #d8e9d6 url(../assets/footer.jpg) center/cover no-repeat;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 100px 0;
  position: relative;
}
footer .wrapper .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer a {
  color: #000000;
}

.social-media {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.social-media p {
  margin: 20px 0;
}

.media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.media-icons li {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  margin-right: 15px;
}
.media-icons img {
  padding: 5px;
}

h6 {
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 20px;
}

.questions p {
  margin-bottom: 0;
}

.copyright {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #06321B;
  text-transform: none;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #06321B;
  text-align: center;
  padding: 15px 0;
}

*:focus {
  outline: none;
}

.header-nav ul a {
  -webkit-transition: border-bottom 0.1s;
  transition: border-bottom 0.1s;
}
.header-nav ul a:hover, .header-nav ul a:focus {
  border-bottom: 4px solid #4c4c4c;
  -webkit-animation: bounce 0.4s ease 0.1s infinite alternate;
          animation: bounce 0.4s ease 0.1s infinite alternate;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
}
.logo,
.shopping-bag,
.discover-now,
.product-image a,
.shop-now,
.blog-posts .child,
form button {
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}
.logo:hover, .logo:focus, .logo:focus-within,
.shopping-bag:hover,
.shopping-bag:focus,
.shopping-bag:focus-within,
.discover-now:hover,
.discover-now:focus,
.discover-now:focus-within,
.product-image a:hover,
.product-image a:focus,
.product-image a:focus-within,
.shop-now:hover,
.shop-now:focus,
.shop-now:focus-within,
.blog-posts .child:hover,
.blog-posts .child:focus,
.blog-posts .child:focus-within,
form button:hover,
form button:focus,
form button:focus-within {
  -webkit-box-shadow: 0 0 10px #4c4c4c;
          box-shadow: 0 0 10px #4c4c4c;
}

.filters button:hover,
.filters button:focus {
  color: #06321B;
  border: 2px dashed #06321B;
}

.product-image button,
.media-icons li {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
.product-image button:hover, .product-image button:focus, .product-image button:focus-within,
.media-icons li:hover,
.media-icons li:focus,
.media-icons li:focus-within {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.settings a,
.product-text a,
.contact-info a,
.contact-info address,
footer a,
footer address {
  position: relative;
  display: inline;
}
.settings a::after,
.product-text a::after,
.contact-info a::after,
.contact-info address::after,
footer a::after,
footer address::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #06321B;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.settings a:hover::after, .settings a:focus::after,
.product-text a:hover::after,
.product-text a:focus::after,
.contact-info a:hover::after,
.contact-info a:focus::after,
.contact-info address:hover::after,
.contact-info address:focus::after,
footer a:hover::after,
footer a:focus::after,
footer address:hover::after,
footer address:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 100%;
}

.product-text a::after {
  background: #4c4c4c;
}

footer a::after,
footer address::after {
  background: #000000;
}

input,
textarea {
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  background-color: lightgrey;
}